<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
<header th:insert="fragments :: nav"></header>

<div class="container">
   <div class="row">
       <div class="col-md-4 mx-auto">
           <h5 class="mb-4">Nuevo enlace</h5>
           <form th:action="@{/enlace/guardar}" method="post">
               <div class="form-group">
                   <!-- control ataque csrf -->
                   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                   <!-- fin control ataque csrf -->
                   <div class="form-group">
							<label for="category"><strong>Categoría:</strong></label><br /> <select
								class="browser-default custom-select col-md-4" name="category"
								th:field="*{category}" id="category">
								<option th:each="category:${categories}"
									th:value="${category.id}" th:text="${category.name}"></option>
							</select>
				   </div>
                   <label for="title">Título</label>
                   <input type="text" class="form-control" id="title" name="title" required="required" autocomplete="off">
               </div>
               <div class="form-group">
                   <label for="subtitle">Subtítulo</label>
                   <input type="text" class="form-control" id="subtitle" name="subtitle" required="required" autocomplete="off">
               </div>
                <div class="form-group">
                   <label for="link">Enlace</label>
                   <input type="text" class="form-control" id="link" name="link" required="required" autocomplete="off">
               </div>
               <div class="form-group">
                   <button type="submit" class="btn btn-outline-success btn-block">
                       <i class="far fa-save"></i> Guardar</button>
               </div>
           </form>
           <a th:href="@{/producto/lista}" style="text-decoration: none;"><button class="btn btn-outline-info btn-block">
               <i class="fas fa-arrow-circle-left"></i> Volver</button></a>

           <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
               <p th:text="${error}"></p>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
       </div>
   </div>
</div>

<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>