<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<div class="row">
			<div class="col-md-4 mx-auto">
				<div class="mt-4 mb-4">
					<h5>Editar categoría</h5>
				</div>
				<br />
				<div>
					<form th:action="@{/categoria/actualizar}" method="post">
						<input type="hidden" name="id" id="id" th:value="${category.id}">
						<div class="form-group">
							<!-- control ataque csrf -->
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
							<!-- fin control ataque csrf -->

							<label for="name"><strong>Nombre</strong></label> <input
								type="text" class="form-control" id="name" name="name"
								th:value="${category.name}" required="required"
								autocomplete="off">
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-outline-success btn-block">
								<i class="far fa-save"></i> Actualizar
							</button>
						</div>
					</form>
				</div>

				<div>
					<a th:href="@{/categoria/lista}" style="text-decoration: none;"><button
							class="btn btn-outline-info btn-block">
							<i class="fas fa-arrow-circle-left"></i> Volver
						</button></a>
				</div>


				<div th:if="${error}"
					class="alert alert-danger alert-dismissible fade show mt-2"
					role="alert">
					<p th:text="${error}"></p>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="fixed-bottom">
		<footer th:insert="fragments :: footer"></footer>
		<div th:insert="fragments :: scripts"></div>
	</div>
</body>
</html>